[defaults]
inventory = inventory/hosts.yml
roles_path = roles
retry_files_enabled = False
local_tmp = /tmp/ansible-local
remote_tmp = /tmp/ansible-remote
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
