GIGACOOKIE_DATA_DIR={{ ubercookie_data_dir }}
GIGACOOKIE_COOKIE={{ ubercookie_cookie_name }}
GIGACOOKIE_SECURE={{ ubercookie_cookie_secure }}
GIGACOOKIE_COOKIE_MAX_AGE={{ ubercookie_cookie_max_age }}
GIGACOOKIE_FRONTEND_DIST={{ ubercookie_frontend_dist }}
GIGACOOKIE_SQLITE_TIMEOUT={{ ubercookie_sqlite_timeout_seconds }}
GIGACOOKIE_SQLITE_BUSY_TIMEOUT_MS={{ ubercookie_sqlite_busy_timeout_ms }}
PYTHONDONTWRITEBYTECODE=1
